<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="..\internallog.txt">

	<extensions>
		<add assembly="NLog.Database" />
	</extensions>

	<targets>
		<!-- Цель для записи в текстовый файл -->
		<!--<target xsi:type="File" name="fileTarget" fileName="../logs/${shortdate}_logfile.txt" layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=tostring}" />-->

		<!-- Цель для записи в базу данных -->
		<target name="asyncDatabase" xsi:type="AsyncWrapper">
			<target xsi:type="Database" name="databaseTarget"
					connectionString="${var:connectionString}"
					commandText="INSERT INTO Logs (TimeStamp, Level, Message, UserId) VALUES (@time_stamp, @level, @message, @user_id);">

				<parameter name="@time_stamp" layout="${longdate}" />
				<parameter name="@level" layout="${level}" />
				<parameter name="@message" layout="${message}" />
				<parameter name="@user_id" layout="1" />
			</target>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="asyncDatabase" />
	</rules>
</nlog>